//BEGIN header
header.header
    img.logo(src="img/logo.png")
    p Структура нашей компании разрабатывалась, ориентируясь на комплексные решения в сфере электронной коммерции. Она построена таким образом, что горизонтально ее можно наращивать до любых объемов, без необходимости реструктуризации.
//END header
